In [1]:
import pandas as pd
df_clean=pd.read_csv("cleaned_sample_data.csv", encoding="utf-8")
df_shuffle=pd.read_csv("shuffled_sample_data.csv", encoding="utf-8")
df_sample=pd.read_csv("sample_data.csv", encoding="utf-8")

### sample데이터에서 title과 body만 가져오기(df)

In [2]:
df=pd.DataFrame(df_sample[['title','body']])
df

,title,body
0,한국인 평균 연령 지난해 42.1세…10년새 다섯 살 늙어,한국인 평균 연령 지난해 42.1세…10년새 다섯 살 늙어\n여성 인구 늘어 성비 ...
1,설 맞아 고속도로 휴게소 등 공중화장실 불법카메라 점검,설 맞아 고속도로 휴게소 등 공중화장실 불법카메라 점검\n\n<YNAOBJECT i...
2,'유혈분쟁' 북아일랜드서 차량 폭탄…브렉시트 국면 긴장고조,'유혈분쟁' 북아일랜드서 차량 폭탄…브렉시트 국면 긴장고조 \n법원 앞에서 터져…경...
3,[연합시론] 국민연금 주주권 행사 판단 중심은 '장기 수익성'이다,[연합시론] 국민연금 주주권 행사 판단 중심은 '장기 수익성'이다 \n\n ...
4,달리는 119구급차서 출산…대원들이 산파 역할,"달리는 119구급차서 출산…대원들이 산파 역할\n30대 임신부, 집에서 병원 이송 ..."
...,...,...
21647,"""힐러리, 대권 재도전 가능성에 '문닫지 않았다'""","""힐러리, 대권 재도전 가능성에 '문닫지 않았다'""\n\n \n<YNAOBJE..."
21648,"대구선관위, 민원인에 이웃돕기 성금 건넨 달서구청 조사","대구선관위, 민원인에 이웃돕기 성금 건넨 달서구청 조사\n성금 1천만원 주고 민원 ..."
21649,인천시내 도로 달리던 차량 가로수 돌진…운전자 숨져,인천시내 도로 달리던 차량 가로수 돌진…운전자 숨져\n\n<YNAOBJECT id=...
21650,군의원 폭행·추태로 농산물 판매 부진…예천군 출향인에 호소문,군의원 폭행·추태로 농산물 판매 부진…예천군 출향인에 호소문 \n군의회 30일 박종...
21651,"강원도, 출산·육아부담 줄이고 일·가정 행복＋삶의 질 높인다","강원도, 출산·육아부담 줄이고 일·가정 행복＋삶의 질 높인다\n생애주기별 저출산 극..."

#### body 데이터 필요없는 부분들 최대한 없애기 -> 정규표현식 이용

In [3]:
import re

In [4]:
def isStartWithk(x):
        return x.startswith(' ')
    
for i in range(len(df)):
    bodylist=re.split("[\n\t]|\s[\(]|\s[\=]",str(df['body'][i]))
    results=[x for x in bodylist if isStartWithk(x)]
    df['body'][i]="".join(results)
    df['body'][i]=re.sub("\s+"," ",str(df['body'][i]))
    df['body'][i]=re.sub("[a-zA-Z0-9+-_.]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+","",str(df['body'][i]))

In [5]:
df

,title,body
0,한국인 평균 연령 지난해 42.1세…10년새 다섯 살 늙어,"14일 행정안전부가 발표한 지난해 주민등록 인구 통계에 따르면, 통계 공표를 시작..."
1,설 맞아 고속도로 휴게소 등 공중화장실 불법카메라 점검,행정안전부는 설 연휴 기간 이용객이 늘어날 공중화장실의 안전 점검에 나선다고 20...
2,'유혈분쟁' 북아일랜드서 차량 폭탄…브렉시트 국면 긴장고조,영국령 북아일랜드의 한 법원 앞에서 차량에 설치된 폭탄이 터졌다. 사상자는 없었지...
3,[연합시론] 국민연금 주주권 행사 판단 중심은 '장기 수익성'이다,보건복지부가 최근 국민연기금 운용 관련 최고의결기구인 기금운용위원회에 보고한 '국...
4,달리는 119구급차서 출산…대원들이 산파 역할,제주에서 출산이 임박한 임신부가 119구급차로 병원으로 옮겨지던 중 구급대원들의 ...
...,...,...
21647,"""힐러리, 대권 재도전 가능성에 '문닫지 않았다'""",2016년 대선 당시 도널드 트럼프 현 미국 대통령과의 대결에서 패배한 힐러리 클...
21648,"대구선관위, 민원인에 이웃돕기 성금 건넨 달서구청 조사",대구시 선거관리위원회는 손해 배상을 요구하는 민원인에게 이웃돕기 성금을 건넨 대구...
21649,인천시내 도로 달리던 차량 가로수 돌진…운전자 숨져,28일 낮 12시 3분께 인천시 미추홀구 한 왕복 6차로 인근 인도에 심어진 가로...
21650,군의원 폭행·추태로 농산물 판매 부진…예천군 출향인에 호소문,예천군의원 전원사퇴추진위원회가 11일 오전 경북 예천군의회 앞에서 &apos;가이...
21651,"강원도, 출산·육아부담 줄이고 일·가정 행복＋삶의 질 높인다",강원도가 초저출산·초고령 사회 진입에 따른 지역 소멸 현상에 적극적으로 대응한다....

### body 데이터만으로 데이터프레임 만들기(df_body)

In [6]:
df_body=pd.DataFrame(df['body'])
df_body

                                                    body
0       14일 행정안전부가 발표한 지난해 주민등록 인구 통계에 따르면, 통계 공표를 시작...
1       행정안전부는 설 연휴 기간 이용객이 늘어날 공중화장실의 안전 점검에 나선다고 20...
2       영국령 북아일랜드의 한 법원 앞에서 차량에 설치된 폭탄이 터졌다. 사상자는 없었지...
3       보건복지부가 최근 국민연기금 운용 관련 최고의결기구인 기금운용위원회에 보고한 '국...
4       제주에서 출산이 임박한 임신부가 119구급차로 병원으로 옮겨지던 중 구급대원들의 ...
...                                                  ...
21647   2016년 대선 당시 도널드 트럼프 현 미국 대통령과의 대결에서 패배한 힐러리 클...
21648   대구시 선거관리위원회는 손해 배상을 요구하는 민원인에게 이웃돕기 성금을 건넨 대구...
21649   28일 낮 12시 3분께 인천시 미추홀구 한 왕복 6차로 인근 인도에 심어진 가로...
21650   예천군의원 전원사퇴추진위원회가 11일 오전 경북 예천군의회 앞에서 &apos;가이...
21651   강원도가 초저출산·초고령 사회 진입에 따른 지역 소멸 현상에 적극적으로 대응한다....

[21652 rows x 1 columns]

In [8]:
df['body'][0]

" 14일 행정안전부가 발표한 지난해 주민등록 인구 통계에 따르면, 통계 공표를 시작한 2008년 이후 처음으로 인구 증가율이 0.1% 이하를 기록했다.  2008년 이후 10년 사이 한국 인구는 220만명 늘고 평균 나이는 다섯 살 이상 늙어 40세를 넘어선 것으로 나타났다. 또 여성 인구가 남성보다 갈수록 많아지고 있어 성비가 조만간 1 아래로 떨어질 전망이다. 20일 행정안전부의 주민등록 인구 통계를 분석한 결과다. 주민등록 인구 통계는 2007년까지 통계청이 전체 인구와 세대 수 등을 집계해 공표하다가 2008년부터 행안부가 한 살 단위 인구수 등 더 세분화하고 구체적인 내용을 담아 발표하기 시작했다. 2008년 통계와 최근 공표된 2018년 통계를 비교하면 총인구는 4천954만367명에서 5천182만6천59명으로 228만5천692명 늘어났다. 세대당 인구는 2008년 2.61명에서 지난해 2.35명으로 줄었다. 600만여 세대였던 1인 세대가 2018년 800만 세대를 넘어섰고 4인 이상 세대는 82만 세대 감소했다. 총인구의 평균 연령은 10년 새 37세에서 42.1세로 5.1세 올랐다. 남자는 35.9세에서 40.9세, 여자는 38.2세에서 43.2세로 바뀌었다. 30대 이하는 408만9천386명 감소했다. 10대 구간 인구가 169만3천769명 줄어 감소 폭이 가장 컸다. 60대 이상은 30대 이하 감소분과 거의 비슷하게 408만3천28명 증가했다. 40대를 기준으로 보면 40대 이하가 427만2천647명 감소했지만, 40대 초과는 655만8천339명 늘어나 총인구 증가를 50대 이상 연령층이 견인한 것으로 분석됐다. 성별로는 2008년과 비교해 2018년 남자가 104만3천232명 늘어난 2천586만6천129명, 여자는 124만2천460명 증가한 2천595만9천930명을 기록했다. 남녀 인구는 줄곧 남자가 많다가 2015년 1만2천966명 차이로 여자가 더 많아진 이후 줄곧 '여&gt;남' 공식이 유지되고 있다. 20일 행정안전부의 주민등록 인구 통계에 따르면 남녀 인구는 줄곧 남자가 많다가 2015년 1만2천966명 차이로 여자가 더 많아진 이후 줄곧 &apos;여&gt;남&apos; 공식이 유지되고 있다.  그러나 남자 수를 여자 수로 나눈 값을 소수점 이하 셋째 자리에서 반올림해 표시하는 이 통계의 성비는 2008년 행안부의 첫 주민등록 통계부터 변함없이 '1.00'을 유지하는 중이다. 남자가 여자보다 많았던 2008∼2014년은 물론 그 후에도 남자와 여자 수 차이는 미미했기 때문이다. 그러나 지난해 성비가 0.996에 이르렀고 여자와 남자 인구수 차이가 점점 벌어지는 추세를 고려하면 성비는 이르면 올해부터 0.99로 바뀔 가능성도 있다. 여자와 남자 수 차이는 2016년 4만1천28명, 2017년 6만6천706명, 2018년 9만3천801명으로 갈수록 커지고 있다. "

#### 원본데이터 ↓

In [9]:
df_sample['body'][0]

'한국인 평균 연령 지난해 42.1세…10년새 다섯 살 늙어\n여성 인구 늘어 성비 곧 \'0.99\'…총인구 228만명 증가\n\n<YNAOBJECT id="GYH20190114000700044" type="03" category="graphic">\n\t<RefDetailAttribute>0</RefDetailAttribute>\n\t<Caption>[연합뉴스 자료사진]</Caption>\n\t<Title>[그래픽] 2018년 주민등록 인구 통계</Title>\n\t<Description>[그래픽] 지난해 인구 0.09% 늘어 증가율 역대최저\n\n    (서울=연합뉴스) 장예진 기자 = 14일 행정안전부가 발표한 지난해 주민등록 인구 통계에 따르면, 통계 공표를 시작한 2008년 이후 처음으로 인구 증가율이 0.1% 이하를 기록했다. \n    jin34@yna.co.kr\n(끝)</Description>\n\t<FileName>GYH2019011400070004400_P2.jpg</FileName>\n\t<Source></Source>\n\t<MainViewYn>Y</MainViewYn>\n\t<LinkUrl></LinkUrl>\n</YNAOBJECT>\n    (서울=연합뉴스) 김지헌 기자 = 2008년 이후 10년 사이 한국 인구는 220만명 늘고 평균 나이는 다섯 살 이상 늙어 40세를 넘어선 것으로 나타났다. 또 여성 인구가 남성보다 갈수록 많아지고 있어 성비가 조만간 1 아래로 떨어질 전망이다.\n    20일 행정안전부의 주민등록 인구 통계를 분석한 결과다. 주민등록 인구 통계는 2007년까지 통계청이 전체 인구와 세대 수 등을 집계해 공표하다가 2008년부터 행안부가 한 살 단위 인구수 등 더 세분화하고 구체적인 내용을 담아 발표하기 시작했다.\n    2008년 통계와 최근 공표된 2018년 통계를 비교하면 총인구는 4천954만367명에서 5천182만6천59명으로 228만5천692명 늘어났다.\n    세대당 인구는 2008년 2.61명에서 지난해 2.35명으로 줄었다. 600만여 세대였던 1인 세대가 2018년 800만 세대를 넘어섰고 4인 이상 세대는 82만 세대 감소했다.\n    총인구의 평균 연령은 10년 새 37세에서 42.1세로 5.1세 올랐다. 남자는 35.9세에서 40.9세, 여자는 38.2세에서 43.2세로 바뀌었다.\n    30대 이하는 408만9천386명 감소했다. 10대 구간 인구가 169만3천769명 줄어 감소 폭이 가장 컸다.\n    60대 이상은 30대 이하 감소분과 거의 비슷하게 408만3천28명 증가했다.\n    40대를 기준으로 보면 40대 이하가 427만2천647명 감소했지만, 40대 초과는 655만8천339명 늘어나 총인구 증가를 50대 이상 연령층이 견인한 것으로 분석됐다. \n\n<YNAOBJECT id="PCM20180928003670990" type="02" category="image">\n\t<RefDetailAttribute>0</RefDetailAttribute>\n\t<Caption>[최자윤 제작] 일러스트</Caption>\n\t<Title>성별 인구 비율 (PG)</Title>\n\t<Description>[최자윤 제작] 일러스트</Description>\n\t<FileName>PCM20180928003670990_P2.jpg</FileName>\n\t<Source></Source>\n\t<MainViewYn>N</MainViewYn>\n\t<LinkUrl></LinkUrl>\n</YNAOBJECT>\n    성별로는 2008년과 비교해 2018년 남자가 104만3천232명 늘어난 2천586만6천129명, 여자는 124만2천460명 증가한 2천595만9천930명을 기록했다.\n    남녀 인구는 줄곧 남자가 많다가 2015년 1만2천966명 차이로 여자가 더 많아진 이후 줄곧 \'여&gt;남\' 공식이 유지되고 있다.\n<YNAOBJECT id="GYH20190120000100044" type="03" category="graphic">\n\t<RefDetailAttribute>0</RefDetailAttribute>\n\t<Caption></Caption>\n\t<Title></Title>\n\t<Description>[그래픽] 남녀 성비 추이\n\n    (서울=연합뉴스) 장예진 기자 = 20일 행정안전부의 주민등록 인구 통계에 따르면 남녀 인구는 줄곧 남자가 많다가 2015년 1만2천966명 차이로 여자가 더 많아진 이후 줄곧 &apos;여&gt;남&apos; 공식이 유지되고 있다.\n    jin34@yna.co.kr\n(끝)</Description>\n\t<FileName>GYH2019012000010004400_P2.jpg</FileName>\n\t<Source></Source>\n\t<MainViewYn>N</MainViewYn>\n\t<LinkUrl></LinkUrl>\n</YNAOBJECT>\n    그러나 남자 수를 여자 수로 나눈 값을 소수점 이하 셋째 자리에서 반올림해 표시하는 이 통계의 성비는 2008년 행안부의 첫 주민등록 통계부터 변함없이 \'1.00\'을 유지하는 중이다. \n    남자가 여자보다 많았던 2008∼2014년은 물론 그 후에도 남자와 여자 수 차이는 미미했기 때문이다.\n    그러나 지난해 성비가 0.996에 이르렀고 여자와 남자 인구수 차이가 점점 벌어지는 추세를 고려하면 성비는 이르면 올해부터 0.99로 바뀔 가능성도 있다.\n    여자와 남자 수 차이는 2016년 4만1천28명, 2017년 6만6천706명, 2018년 9만3천801명으로 갈수록 커지고 있다.\n    jk@yna.co.kr\n(끝)'